
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Создать аккаунт</h2>

              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>

                <div class="form-outline mb-4">
                  <%= f.label :name, class: "form-label" %><br />
                  <%= f.text_field :name, class: "form-label form-control form-control-lg", autofocus: true, autocomplete: "name" %>
                </div>

                <div class="form-outline mb-4">
                  <%= f.label :email, class: "form-label" %>
                  <%= f.email_field :email, class: "form-label form-control form-control-lg", autofocus: true, autocomplete: "email" %>
                </div>

                <div class="form-outline mb-4">
                  <%= f.label :birthday, class: "form-label" %>
                  <%= f.date_field :birthday, class: "form-label form-control form-control-lg", autofocus: true, autocomplete: "email" %>
                </div>

                <table>
                      <td><%= f.label 'gender', 'women?' %></td>
                      <td><%= f.radio_button :gender, true %></td>
                    
                      <td><%= f.label 'gender', 'Men' %></td>
                      <td><%= f.radio_button :gender, false %></td>
                </table>

                <div class="form-outline mb-4">
                  <%= f.label :password, class: "form-label" %>
                  <% if @minimum_password_length %>
                  <em>(<%= 8 %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, class: "form-label form-control form-control-lg", autocomplete: "new-password" %>
                </div>

                <div class="form-outline mb-4">
                  <%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation, class: "form-label form-control form-control-lg", autocomplete: "new-password" %>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="actions">
                      <%= f.submit  "Sign up", class: "btn btn-success btn-block btn-lg gradient-custom-4 text-body" %>
                    </div> 
                    <%= render "devise/shared/links" %>
                </div>

                <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
