<div class="post" id="<%= dom_id(post) %>">
  <div class="cardbox shadow-lg bg-white">
    <div class="cardbox-heading">
      <div class="row">
        <div class="col-md-9 media m-0">
          <div class="d-flex mr-3">
            <% if post.user.avatar.attached? %>
              <%= image_tag(post.user.avatar, class: 'rounded-circle', alt: '') %>
            <% else %>
              <img class="img-fluid rounded-circle" src="https://picsum.photos/64/64" alt="" width="64">
            <% end %>
          </div>
          <div class="media-body">
            <p class="m-0 text-main-accent"><%= link_to post.user.name, user_path(post.user.user_tag), class: 'text-medium text-main-accent'%></p>
            <small>
              <span><i class="icon ion-md-pin"></i> @<%= post.user.user_tag %></span>
            </small>
            <small>
              <span><i class="icon ion-md-time"></i> <%= post.created_at %></span>
            </small>
          </div>
        </div>
        <% if user&.id == post.user_id %>
          <div class="col-md-3 dropdown mr-3">
            <div class="row">
              <div class="col-md-4"> 
                <button class="btn btn-flat btn-flat-icon mb-1 me-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                  <i class="fe fe-gear"></i>
                </button> 
              </div>
              <div class="col-md-4">
                <%= button_to edit_post_path(post), method: :post, class: "btn btn-flat btn-flat-icon mb-1" do %>
                  <i class="fe fe-edit"></i>
                <% end %> 
              </div>
              <div class="col-md-4">
                <%= button_to post, method: :delete, class: "btn btn-flat btn-flat-icon mb-1" do %>
                  <i class="fe fe-trash"></i>
                <% end %> 
              </div>
            </div>
            <div class="dropdown-menu dropdown-scale dropdown-menu-right" aria-labelledby="dropdownMenuButton" role="menu" style="position: absolute; transform: translate3d(-136px, 28px, 0px); top: 0px; left: 0px; will-change: transform;">
              <a class="dropdown-item" href="#">Hide post</a>
              <a class="dropdown-item" href="#">Stop following</a>
              <a class="dropdown-item" href="#">Report</a>
            </div>
          </div>
        <%end%>
          <!--/ dropdown -->
          <!--/ media -->
        </div>
    </div>
    <!--/ cardbox-heading -->
    <%= render 'posts/body', post: post %>
    <!--/ cardbox-item -->
    <!--/nado zasunut v otdelni partial sled <div> -->
    <div class="cardbox-base container mb-2">
      <div class="row">
        <div class="col-md-2" id="<%= dom_id(post, :like) %>">
          <%= render 'likes/private_button', post: post, like_status: like_status %>
        </div>

        <%= render 'comments/comment_count', post: post %>
      </div>
    </div>
    <!--/ cardbox-base -->
    <div class="cardbox-comments" id="<%= dom_id(post, :comments) %>">
      <%= render partial: 'comments/comment', collection: post.comments.where(parent_id: nil).order(created_at: :desc), locals: { user: user, post: post } %>
      <%= render 'comments/form',  parent: nil ,comment: Comment.new, post: post %>
    </div>
    <!--/ cardbox-like -->
  </div>
    <!--/ cardbox -->
</div>