
<div class="container gedf-wrapper">
  <div class="row py-2">
    <!-- Left dock start -->
    <%=render 'navigation/left_dock'%>
    <!-- Left dock end -->
    <!-- Middle dock start -->
    <div class="col-md-6">
      <div class="container">
        <div id="new-post">
          <%= render "posts/form", post: @post %>
        </div>
        <%=turbo_stream_from "public_likes"%>
        <%=turbo_stream_from :posts%>
        <%=turbo_stream_from [current_user, :posts]%>
        <div id="posts-block">
          <% @posts.each do |post| %>
            <%= render "posts/post", post: post, 
                                     user: current_user, 
                                     like_status: current_user.liked?(post) %>
          <%end%>

        </div>
      </div>
    </div>
    <!-- Middle dock end -->
    <div class="col-md-4">
      <div class="card gedf-card">
        <div class="card-header">
          <h5 class="card-title">Рекомендации</h5>
        </div>
        <div class="card-body">
          <div class="card gedf-card">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.
              </p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>