
  <div class="mt-3 mb-3">
    <div class="row-md-12">
      <div class="mr-3 comment-avatar">
        <% if comment.user.avatar.attached? %>
        <img class="img-fluid rounded-circle" src="https://picsum.photos/64/64" alt="" width="64">
        <% else %>
          <img class="img-fluid rounded-circle" src="https://picsum.photos/64/64" alt="" width="64">
        <% end %>
      </div>
      <div class="row">
        <div class="col-md-9">
          <div class="textbox" id="<%= "#{dom_id(comment, :body)}" %>">
            <%= render 'comments/body', comment: comment %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="reply-block"> 
            <%= button_to "", class: "btn" do %>
              <i class="fe fe-comment-o text-main-accent"></i>
            <% end %> 
          </div>
          
        </div>
      </div>
      <%= render partial: 'comments/form', locals: {comment: Comment.new, post: comment.post, parent: comment} %>
      <%- if !comment.comments.nil? %>
        <div class="container mt-3 mb-3 ms-3" id="<%= "#{dom_id(comment)}_with_comments" %>">
          <%= render comment.comments %>
        </div>
      <% end %>
    </div>
  </div>
