<%= turbo_frame_tag message do %>
  <%= form_with model: message do |f| %>
    <div class="card">
      <div class="container">
        <%= f.hidden_field :room_id, value: message.room.id %>

          <li class="bg-white mb-3">
            <div class="form-outline">
              <%= f.text_area :body, class: 'form-control' %>
            </div>
          </li>

        <%= f.submit 'Send', class: 'btn btn-info btn-rounded float-end' %>
      </div>
    </div>
  <% end %>
<% end %>