<%= turbo_frame_tag message do %>
  <%= tag.section data: {user: message.user.id,
    'messages-target': 'message'} do %>
      <div style="display: flex; justify-content: center; ">
        <ul class="list-unstyled">
          <li class="d-flex justify-content-between mb-4 align-items-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp" alt="avatar" class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60">
            <div class="card" style="width: 50rem;">
              <div class="card-header d-flex justify-content-between p-3">
                <p class="fw-bold mb-0"><%= message.user.name %></p>
                <div class="justify-content-end container-fluid">
                  <p class="text-muted small mb-0"><i class="far fa-clock"></i>
                    Created: <%= l message.created_at, format: :long %>,
                    Updated: <%= l message.updated_at, format: :long %>
                    <div class="js-actions d-none">
                    <%= link_to 'Edit', message_path(message),
                      class: 'btn btn-secondary', data: {turbo_method: :patch} %>
                    </div>
                  </p>
                </div>
              </div>
              <div class="card-body">
                <p class="mb-0"> <%= message.body %> </p>
              </div>
            </div>
          </li>
        </ul>
    </div>
   
  <% end %>
<% end %>