<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>RuFans</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_with_jwt_meta_tag %>
    <%= stylesheet_link_tag "application.bootstrap", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "main", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "common", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "landing", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "cardbox", "data-turbo-track": "reload" %>
    <link href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css" />
    <%= javascript_importmap_tags %>
    

  </head>

  <body>
    <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <header class="main-header py-2">
      <div class="container">
        <div class="mt-2 d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start row">
          <div class="col-md-2">
            <% if user_signed_in? %>
              <%= link_to posts_path, :class => 'col-lg-3 d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none' do %>
                <img src="/assets/logo.svg">
              <% end %>
            <% else %>
              <%= link_to user_registration_path, :class => 'col-lg-3 d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none' do %>
                <img src="/assets/logo.svg">
              <% end %>
            <% end %>
          </div>
          
          <div class="col-md-4">
            <div class="mb-3 mb-lg-0 me-lg-3">
              <%= render 'search/form' %>
            </div>
          </div>
          <div class="col-md-6">
            <ul class="nav cms-lg-auto mb-2 d-flex align-items-center justify-content-center mb-md-0">
              <%= link_to 'Cообщество', talantes_path, :class => 'nav-link px-2 text-main-accent' %> 
              <%= link_to 'Таланты', talantes_path, :class => 'nav-link px-2  text-main-accent' %> 
              <% if user_signed_in? %>
                <%= link_to 'Профиль', user_path(current_user.user_tag), :class => 'btn btn-outline-main rounded-rect me-2' %> 
                <%= link_to 'Изменить Профиль', edit_user_registration_path, :class => 'btn btn-outline-main rounded-rect me-2' %> 
                <%= link_to "Выход", destroy_user_session_path, method: :delete, :class => 'btn btn-outline-main rounded-rect me-2' %> 
              <% else %>
                <%= link_to "Регистрация", new_user_registration_path, :class => 'btn btn-outline-main rounded-rect me-2'  %> 
                <%= link_to "Вход", new_user_session_path, :class => 'btn btn-outline-main me-2 rounded-rect me-2'  %>
              <% end %>
            </ul>
          </div>
         
        </div>
      </div>
    </header>

      <%=Time.zone.now%>
      <%= yield %>
    </main>
  </body>
</html>