<p style="color: green"><%= notice %></p>
<div class="container gedf-wrapper">
  <div class="row py-2">
    <!-- Left dock start -->
    <%=render 'navigation/left_dock'%>
    <!-- Left dock end -->
    <!-- Middle dock start -->
    <div class="col-md-6">
      <div class="container">
        <div class="card gedf-card mb-4 profile-card" id="">
          <div class="fill">
            <img src="https://picsum.photos/700/250" alt="">
          </div>
          <div class="profile-avatar">
            <%= image_tag(@user.avatar) if @user.avatar.attached? %>
          </div>
          <div class="card-body profile-desc fill" id="">
            <% if @user == current_user %>
                <%= link_to "Редактировать профиль", edit_user_registration_path, class: "btn float-end profile-edit-btn" %>
            <% elsif current_user %>
                <%= render 'users/follow_button', user: @user %>
            <% end %>
            
            <div class="profile-caption">
              <h3><%= @user.name %></h3>
              <h4><%= @user.nickname %></h4>
              <h5>Sample user profile description</h5>
              
            </div>
            <hr/>
            <div class="profile-stats">
              <div class="row">
                <div class="col">
                  <h4><%= render 'users/follower_count', user: @user %></h4>
                  <h5>Подписчиков</h5>
                </div>
                <div class="col">
                  <h4>124</h4>
                  <h5>Фанатов</h5>
                </div>
                <div class="col">
                  <h4>430</h4>
                  <h5>Записей</h5>
                </div>
                <div class="col">
                  <h4>5</h4>
                  <h5>Товаров</h5>
                </div>
                <div class="col">
                  <h4>125</h4>
                  <h5>Подписок</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div id="new-post">
          <%= render "posts/form", post: @post %>
        </div>
        <%=turbo_stream_from :posts%>
        <%=turbo_stream_from [current_user, :posts]%>
        <div id="posts-block">
          <% @posts.each do |post| %>
          <%= render "posts/post", post: post, 
                                   user: current_user, 
                                   like_status: current_user.liked?(post) %>
        <%end%>

        </div>
      </div>
    </div>
    <!-- Middle dock end -->
    <div class="col-md-4">
      <div class="card gedf-card">
        <div class="card-header">
          <h5 class="card-title">Рекомендации</h5>
        </div>
        <div class="card-body">
          <div class="card gedf-card">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.
              </p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  feather.replace()
</script>