<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>RuFans</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application.bootstrap", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header class="p-3 bg-dark text-white">
      <div class="container">
        <nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          </ul>
          <p class="navbar-text float-right">
            <% if user_signed_in? %>
              Logged in as <strong><%= current_user.name %></strong>.
              <%= link_to 'Изменить Профиль', edit_user_registration_path, :class => 'navbar-link' %> |
              <%= link_to "Выход", destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to "Регистрация", new_user_registration_path, :class => 'navbar-link'  %> |
              <%= link_to "Вход", new_user_session_path, :class => 'navbar-link'  %>
            <% end %>
            |
            <%= link_to 'RuFans', root_path %>
            </p>
        </nav>
      </div>
    </header>

      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>